In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
dataset = pd.read_csv("Crop_recommendation.csv")
print(dataset)

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [3]:
print(dataset.size)
print(dataset.shape)
print(dataset.columns)

17600
(2200, 8)
Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [4]:
print(dataset['label'].unique())
print("")
dataset.dtypes

['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans'
 'mungbean' 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes'
 'watermelon' 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton'
 'jute' 'coffee']

N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
label           object
dtype: object

In [5]:
dataset['label'].value_counts()

rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: label, dtype: int64

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [7]:
dataset.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [8]:
dataset.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [9]:
dataset.isna().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

Splitting the dataset into features(independent) and target(dependent) or basically into X and y

In [10]:
features = dataset[['N', 'P','K','temperature', 'humidity', 'ph', 'rainfall']]
target = dataset['label']
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features,target,test_size = 0.2,random_state=2)

# ***DECISION TREE***

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
DecisionTree = DecisionTreeClassifier(random_state=2)
DecisionTree.fit(Xtrain,Ytrain)
predicted_values = DecisionTree.predict(Xtest)
accuracy = accuracy_score(Ytest, predicted_values)
print("DecisionTrees's Accuracy is: ", accuracy*100)

DecisionTrees's Accuracy is:  97.27272727272728

# ***Gaussian Naive Bayes***

In [12]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(Xtrain, Ytrain)
Ypred = gnb.predict(Xtest)
accuracy_gnb = accuracy_score(Ytest, Ypred)
print("Gaussian Naive Bayes Accuracy is: ", accuracy_gnb*100)

Gaussian Naive Bayes Accuracy is:  99.0909090909091

# ***Support Vector Machine***

In [13]:
from sklearn.svm import SVC
SVM = SVC()
SVM.fit(Xtrain,Ytrain)
predicted = SVM.predict(Xtest)
x = accuracy_score(Ytest, predicted)
print("Support Vector Machine's Accuracy is: ", x*100)

Support Vector Machine's Accuracy is:  97.72727272727273

# ***Logistic Regression***

In [14]:
from sklearn.linear_model import LogisticRegression
lr_classifier = LogisticRegression(random_state=2)
lr_classifier.fit(Xtrain, Ytrain)
y_pred = lr_classifier.predict(Xtest)
accuracy_lr = accuracy_score(Ytest, y_pred)
print("Logistic Regression's Accuracy is: ", accuracy_lr*100)

Logistic Regression's Accuracy is:  95.22727272727273

# ***Random Forest***

In [15]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(random_state=2)
RF.fit(Xtrain,Ytrain)
predict = RF.predict(Xtest)
acc = accuracy_score(Ytest, predict)
print("Random Forest's Accuracy is: ", acc*100)

Random Forest's Accuracy is:  99.54545454545455

# ***Making Predictions:***

In [16]:
import numpy as np
data = np.array([[104,18, 30, 23.603016, 60.3, 6.7, 140.91]])
prediction = RF.predict(data)
print(prediction)

['coffee']